body {
    font-family: Arial;
    background-color: #0f172a;
    color: #e2e8f0; 
}

/* CONTENEDOR */
#main {
    width: 900px;
    margin: auto;
    background: #1e293b;
    padding: 10px;
    border-radius: 10px;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#title img {
    width: 50px;
}

#title h1 {
    display: inline;
    color: #22c55e;
}

/* MENU */
nav ul {
    list-style: none;
}

nav li {
    display: inline;
    margin-right: 15px;
}

nav a {
    text-decoration: none;
    color: #e2e8f0;
}

nav a:hover {
    color: #38bdf8; 
}

/* BANNER */
#banner {
    background-image: url("LM/LM3.webp");
    height: 150px;
    color: #ffffff;
    display: flex;
    align-items: end;
    padding: 10px;
    border-radius: 10px;
}

/* CONTENIDO */
section {
    display: flex;
    margin-top: 20px;
}

article {
    width: 65%;
}

aside {
    width: 30%;
    margin-left: 5%;
    background: #1e293b; 
    padding: 10px;
    border-radius: 10px;
}

aside img {
    width: 250px;
    height: auto;
    border-radius: 10px;
}

/* FOOTER */
footer {
    text-align: center;
    margin-top: 20px;
    color: #94a3b8; 
}
